.fade-enter, .fade-appear {
    opacity: 0;
}

.fade-enter-active, .fade-appear-active {
    opacity: 1;
    transition: all 500ms linear;

}

.fade-exit, .fade-leave-active {
    opacity: 1;
}

.fade-exit-active, .fade-leave-active {
    opacity: 0;
    transition: all 500ms linear;
}

.fade500-enter, .fade500-appear {
    opacity: 0;
}

.fade500-enter-active, .fade500-appear-active {
    opacity: 1;
    transition: all 250ms linear;

}

.fade500-exit, .fade500-leave-active {
    opacity: 1;
}

.fade500-exit-active, .fade500-leave-active {
    opacity: 0;
    transition: all 250ms linear;
}


.slideLeft-enter, .slideLeft-appear {
    transform: translateX(-100vw);
}

.slideLeft-enter-active, .slideLeft-appear-active {
    transform: translateX((0));
    transition: all 300ms linear;
}

.slideLeft-exit {
    transform: translateX(0);
}

.slideLeft-exit-active {
    transform: translateX(-100vw);
    transition: all 300ms linear;
}


.slideRight-enter {
    transform: translateX(100vw);
}

.slideRight-enter-active {
    transform: translateX(0);
    transition: all 300ms linear;

}

.slideRight-exit {
    transform: translateX(0);
}

.slideRight-exit-active {
    transform: translateX(100vw);
    transition: all 300ms linear;
}

